/.bundle
/log
/tmp
.idea
/documentacion
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/vendor/bundle
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_Store
Desktop.ini
/public/videosc/*